<html>
<head>
    <title>Price Tracker by Tao Chen</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="static/assets/css/main.css">
</head>
<body class="homepage" data-new-gr-c-s-check-loaded="14.1156.0" data-gr-ext-installed="" contenteditable="false">
<div id="page-wrapper">

    <!-- Header -->
    <div id="header-wrapper">
        <header id="header" class="container">

            <!-- Logo -->
            <div id="logo">
                <h1><a href="index.html">Price Tracker</a></h1>
                <span>by TAO CHEN</span>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li class="current" style="white-space: nowrap;"><a href="index.html">Welcome</a></li>
                    <li class="opener" style="user-select: none; cursor: pointer; white-space: nowrap;">
                        <a href="#">Dropdown</a>

                        <ul class="" style="user-select: none; display: none; position: absolute;">
                            <li style="white-space: nowrap;"><a href="#" style="display: block;">Lorem ipsum dolor</a>
                            </li>
                            <li style="white-space: nowrap;"><a href="#" style="display: block;">Magna phasellus</a>
                            </li>
                            <li class="opener" style="user-select: none; cursor: pointer; white-space: nowrap;">
                                <a href="#" style="display: block;">Phasellus consequat</a>
                                <ul class="dropotron" style="user-select: none; display: none; position: absolute;">
                                    <li style="white-space: nowrap;"><a href="#" style="display: block;">Lorem ipsum
                                        dolor</a></li>
                                    <li style="white-space: nowrap;"><a href="#" style="display: block;">Phasellus
                                        consequat</a></li>
                                    <li style="white-space: nowrap;"><a href="#" style="display: block;">Magna
                                        phasellus</a></li>
                                    <li style="white-space: nowrap;"><a href="#" style="display: block;">Etiam dolore
                                        nisl</a></li>
                                </ul>
                            </li>
                            <li style="white-space: nowrap;"><a href="#" style="display: block;">Veroeros feugiat</a>
                            </li>
                        </ul>
                    </li>
                    <li style="white-space: nowrap;"><a href="left-sidebar.html">Track Best Buy</a></li>
                    <li style="white-space: nowrap;"><a href="right-sidebar.html">Track Steam</a></li>
                    <li style="white-space: nowrap;"><a href="amazon.html">Track Amazon</a></li>
                    <li style="white-space: nowrap;"><a href="no-sidebar.html">Track</a></li>
                </ul>
            </nav>

        </header>
    </div>

    <!-- Banner -->
    <div id="banner-wrapper">
        <div id="banner" class="box container">
            <div class="row">
                <div class="col-7 col-12-medium">
                    <h2>Welcome!</h2>
                    <p>This is a free price track website that doesn't need to sign up.</p>
                </div>
                <div class="col-5 col-12-medium">
                    <ul>
                        <li><a href="#" class="button large icon solid fa-arrow-circle-right">More info</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Features -->
    <div id="features-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-4 col-12-medium">

                    <!-- Box -->
                    <section class="box feature d-flex flex-column justify-content-between">
                        <a href="#" class="image featured"><img src="static/images/bestbuy.jpg" alt=""></a>
                        <div class="inner">
                            <header>
                                <h2>Best buy</h2>
<!--                                <p>This current price1 is {{ price1 }}</p>-->
<!--                                <p>This current price1 is {{ price2 }}</p>-->
                            </header>
                            <p>By entering the url of the product you want, your email address, and your target price
                                for the product, an email notification will be sent when the price of the product
                                reaches your desired price.</p>
                        </div>
                        <!-- Add inline styles to the button and use text-center class -->
                        <div class="text-center">
                            <button><a href="left-sidebar.html" class="button large icon solid fa-arrow-circle-right"
                                       style="font-size: 22px;"><span style="font-size: 20px;">Ok let's go</span></a>
                            </button>
                        </div>
                    </section>

                </div>
                <div class="col-4 col-12-medium">

                    <!-- Box -->
                    <section class="box feature">
                        <a href="#" class="image featured"><img src="static/images/pic02.jpg" alt=""></a>
                        <div class="inner">
                            <header>
                                <h2>Steam</h2>
                                <p>This is also an interesting subtitle</p>
                            </header>
                            <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet
                                bibendum tristique fringilla.</p>
                        </div>
                    </section>

                </div>
                <div class="col-4 col-12-medium">

                    <!-- Box -->
                    <section class="box feature">
                        <a href="#" class="image featured"><img src="static/images/pic03.jpg" alt=""></a>
                        <div class="inner">
                            <header>
                                <h2>Amazon</h2>
                                <p>Here's another intriguing subtitle</p>
                            </header>
                            <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet
                                bibendum tristique fringilla.</p>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <div id="footer-wrapper">
        <footer id="footer" class="container">
            <div class="row">
                <div class="col-3 col-6-medium col-12-small">

                    <!-- Links -->
                    <section class="widget links">
                        <h3>Random Stuff</h3>
                        <ul class="style2">
                            <li><a href="#">Etiam feugiat condimentum</a></li>
                            <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                            <li><a href="#">Sed porttitor cras in erat nec</a></li>
                            <li><a href="#">Felis varius pellentesque potenti</a></li>
                            <li><a href="#">Nullam scelerisque blandit leo</a></li>
                        </ul>
                    </section>

                </div>
                <div class="col-3 col-6-medium col-12-small">

                    <!-- Links -->
                    <section class="widget links">
                        <h3>Random Stuff</h3>
                        <ul class="style2">
                            <li><a href="#">Etiam feugiat condimentum</a></li>
                            <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                            <li><a href="#">Sed porttitor cras in erat nec</a></li>
                            <li><a href="#">Felis varius pellentesque potenti</a></li>
                            <li><a href="#">Nullam scelerisque blandit leo</a></li>
                        </ul>
                    </section>

                </div>
                <div class="col-3 col-6-medium col-12-small">

                    <!-- Links -->
                    <section class="widget links">
                        <h3>Random Stuff</h3>
                        <ul class="style2">
                            <li><a href="#">Etiam feugiat condimentum</a></li>
                            <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                            <li><a href="#">Sed porttitor cras in erat nec</a></li>
                            <li><a href="#">Felis varius pellentesque potenti</a></li>
                            <li><a href="#">Nullam scelerisque blandit leo</a></li>
                        </ul>
                    </section>

                </div>
                <div class="col-3 col-6-medium col-12-small">

                    <!-- Contact -->
                    <section class="widget contact last">
                        <h3>Contact Me</h3>
                        <ul>
                            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
                            </li>
                            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a>
                            </li>
                            <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                            <li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a>
                            </li>
                        </ul>
                        <p>tchen285@ucr.edu<br>
                            tony.chent6@gmail.com<br>
                            (626) 378-7503</p>
                    </section>

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="copyright">
                        <ul class="menu">
                            <li>All rights reserved</li>
                            <li>Design: <a href="https://tchen285.github.io/html-portfolio/">Tao Chen</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</div>

<!-- Scripts -->

<script src="static/assets/js/jquery.min.js"></script>
<script src="static/assets/js/jquery.dropotron.min.js"></script>
<script src="static/assets/js/browser.min.js"></script>
<script src="static/assets/js/breakpoints.min.js"></script>
<script src="static/assets/js/util.js"></script>
<script src="static/assets/js/main.js"></script>
<ul class="dropotron level-0" style="user-select: none; display: none; position: absolute; z-index: 1000;">
    <li style="white-space: nowrap;"><a href="#" style="display: block;">Lorem ipsum dolor</a></li>
    <li style="white-space: nowrap;"><a href="#" style="display: block;">Magna phasellus</a></li>
    <li class="opener" style="user-select: none; cursor: pointer; white-space: nowrap;">
        <a href="#" style="display: block;">Phasellus consequat</a>
        <ul class="dropotron level-1" style="user-select: none; display: none; position: absolute; z-index: 1001;">
            <li style="white-space: nowrap;"><a href="#" style="display: block;">Lorem ipsum dolor</a></li>
            <li style="white-space: nowrap;"><a href="#" style="display: block;">Phasellus consequat</a></li>
            <li style="white-space: nowrap;"><a href="#" style="display: block;">Magna phasellus</a></li>
            <li style="white-space: nowrap;"><a href="#" style="display: block;">Etiam dolore nisl</a></li>
        </ul>
    </li>
    <li style="white-space: nowrap;"><a href="#" style="display: block;">Veroeros feugiat</a></li>
</ul>
<div id="navToggle"><a href="#navPanel" class="toggle"></a></div>
<div id="navPanel">
    <nav><a class="link depth-0" href="index.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span
            class="indent-0"></span>Welcome</a><a class="link depth-0" href="#"
                                                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span
            class="indent-0"></span>Dropdown</a><a class="link depth-1" href="#"
                                                   style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span
            class="indent-1"></span>Lorem ipsum dolor</a><a class="link depth-1" href="#"
                                                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span
            class="indent-1"></span>Magna phasellus</a><a class="link depth-1" href="#"
                                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span
            class="indent-1"></span>Phasellus consequat</a><a class="link depth-2" href="#"
                                                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span
            class="indent-2"></span>Lorem ipsum dolor</a><a class="link depth-2" href="#"
                                                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span
            class="indent-2"></span>Phasellus consequat</a><a class="link depth-2" href="#"
                                                              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span
            class="indent-2"></span>Magna phasellus</a><a class="link depth-2" href="#"
                                                          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span
            class="indent-2"></span>Etiam dolore nisl</a><a class="link depth-1" href="#"
                                                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span
            class="indent-1"></span>Veroeros feugiat</a><a class="link depth-0" href="left-sidebar.html"
                                                           style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span
            class="indent-0"></span>Left Sidebar</a><a class="link depth-0" href="right-sidebar.html"
                                                       style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span
            class="indent-0"></span>Right Sidebar</a><a class="link depth-0" href="no-sidebar.html"
                                                        style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span
            class="indent-0"></span>No Sidebar</a></nav>
</div>


</body>
<grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>
</html>